::-webkit-scrollbar {
  width: 0px;
  background: transparent;

  /* -webkit-filter: blur(8px); */
  /* make scrollbar transparent */
}


.gallery__div_container {
  background-color: black;
  height: 650px;
  width: 1530px;
  background-image: url("Public/Images/TEAM1.png");

  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  padding: 0 50px;
  scroll-behavior: smooth;
}

.gallery__col {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.gallery__col img {
  width: 300px !important;
  max-width: 300px !important;
  height: 300px;
  /* padding: 5px; */
  object-fit: cover;
  margin: 5px;
  border: 4px solid white;
}

.gallery__col img:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .gallery__div_container {
    /* padding: 0 10px; */
    background-position: center;
    background-size: cover;
    height: 650px;
    width: 370px;
  }
  .gallery__col img {
    width: 200px !important;
    max-width: 300px !important;
    height: 250px;
    object-fit: cover;
    /* margin: 5px; */
    margin-left: -8px;
    border: 4px solid white;
  }

  .gallery__col img {
    width: 50px;
  }
}
